.heading {
  font-size: 40px;
  font-weight: lighter;
  margin: 50px auto 0px;
  border-bottom: 2px solid green;
  text-align: center;
}

.cardGrid {
  margin: 20px 0px 0px;
}

.card {
  border-radius: 20px;
  box-shadow: 5px 10px 20px #00000025;
}

.cardItem {
  justify-content: center;
}